/* 
==============================================
CONTENT:	Project Name Here
AUTHOR:		Your Name Here
==============================================

TABLE OF CONTENTS:

0. Reset
1. Main Layout
2. Content

==============================================
*/

/* 0. Reset ================================= */
@import 'reset';


/* 1. Main Layout ================================= */

* {
	box-sizing: border-box;
}

body {
	background:black;
	font-family: Georgia, serif;
}




/* 2. Content ================================= */

body{
	position:relative;
}

header {
	text-align: center;
	margin: 20px;
}

h1 {
	font-size: 2.5em;
	color: yellowgreen;
}

h2 {
	font-size: 1.5em;
	margin: 10px;
	color: yellowgreen;
}


.shoe-container {
	max-width: 100%;
	padding: 20px;

	img {
		max-width: 100%;
		max-height: 150px;
	}
}